checkpoints/
.ipynb_checkpoints/
data/.ipynb_checkpoints/
models/.ipynb_checkpoints/
networks/.ipynb_checkpoints/
options/.ipynb_checkpoints/
results/.ipynb_checkpoints/
utils/.ipynb_checkpoints/
__pycache__/
plots.ipynb
